<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sarasija Tadepalli">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <title>Checkout - MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="./static/script.js"></script>
    
</head>
<body onload="addYear()">>
    <header>
        <h1>MonoMuse</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>

        </nav>
    </header>

    <div class="main">
        <h2>Checkout</h2>

        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="quantity">Ticket Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" min="1" max="10" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <footer>
    <p id="copyYear"></p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>